.bgr-img {
  background-image: url("./../../../public/img/images/nasa.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-log-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: -20px 0 50px;
  
  
  .form-log-width {
    width: 768px;
  }
  
  .form-log-container {
    box-shadow: 0 0px 40px -5px #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    min-height: 480px;
    min-width: 350px;
    max-width: 100%;
  }

  .form-container-item {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .form__title {
    font-size: $large;
    font-weight: bold;
    margin: 0;
  }

  .form__subtitle {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 10px 0 20px;
  }

  .social_subtitle {
    font-size: 12px;
  }

  .btn__log {
    border-radius: 20px;
    background-color: #0098d2;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }
  .btn__log-2 {
    border: 1px solid #0098d2;
  }

  .btn__log:active {
    transform: scale(0.95);
  }

  .btn__log:focus {
    outline: none;
  }

  .btn__log.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }

  .log__form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }

  input {
    background: #eee;
    border: 1px solid #eee;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
    transition: $trans-second;
  }
  input:hover{
    border: 1px solid #0098d2;
    
  }
  input:focus{
    border: 1px solid #0098d2;
    
    
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background: #00bcca;
    background: -webkit-linear-gradient(to bottom, #0098d2, #00bcca);
    background: linear-gradient(to bottom, #0098d2, #00bcca);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .shape {
    position: absolute;
    background: white;
    opacity: 0.15;
    z-index: 100;
  }

  .shape.reg {
    height: 60px;
    width: 80px;
    top: 10px;
    left: 10px;
    transform: rotate(-30deg);
  }

  .shape.reg::after {
    content: "";
    position: absolute;
    background: white;
    opacity: 0.6;
    z-index: 100;
    height: 30px;
    width: 50px;
    top: 150px;
    left: 180px;
    transform: rotate(-140deg);
  }

  .shape.oval {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    top: 120px;
    left: 70px;
    box-shadow: 200px 260px white;
  }

  .poly {
    position: absolute;
    opacity: 0.2;
    z-index: 100;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid rgb(255, 255, 255);
    transform: rotate(-30deg);
  }

  .poly.poly-1 {
    top: 373px;
    left: -8px;
  }

  .poly.poly-2 {
    top: 150px;
    left: 240px;
    transform: rotate(-30deg);
  }

  .form-log-container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .form-log-container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .form-log-container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

  .social-container {
    margin: 20px 0;
  }

  .social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  .form-link {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0 0;
    display: inline-block;
  }
  .form-link:hover {
    text-decoration: underline;
  }
  .alert-mess{
    font-size: 12px;
    text-align: left;
  }
  .mess-margin{
    margin-bottom: 5px;
  }
  .alert-mess--error{
    color: var(--danger);
  }
  .alert-mess--warning{
    color: var(--warning);
  }
  .alert-mess--success{
    color: var(--success);
  }
  //   ------------------------------------------------------------------------------------------

  .form-log-container{
    background: #ffffff;
    
  }
  .form-base-header {
    background: linear-gradient(to right, #0098d2, #00bcca);
  }

  .form-base-header h4 {
    margin: 0;
    padding: 20px 10px;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .form-base {
    text-align: center;
    background: white;
  }

  .form-base-content {
    margin: 50px auto;
  }

  .icon i {
    font-size: 36px;
  }
  .btn-base-log-section{
    width: 100%;
  }
  .base-logn__btn {
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 10px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    width: 49%;
  }

}


// Phần đổi mật khẩu





