body{
  position: relative;
}
header {
  position: fixed;
  z-index: 1000;
  background: var(--dm-white);
  top: 0;
  left: 0;
  right: 0;

  .navbar-fluid {
    margin: 0 $margin-popular;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .navbar-logo {
      img.img__logo {
        height: 60px;
      }
    }

    .navbar-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav__menu {
        .nav__list .nav__item {
          display: inline-block;
          padding: 0 20px;

          .nav__item-link {
            font-size: 16px;
            position: relative;
            padding-bottom: 8px;
            color: var(--dm-black);
          }
          
          .nav__item-link::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: linear-gradient(to right, var(--color-primary), var(--color-secondary) );
            transform-origin: bottom right;
            transform: scaleX(0);
            transition: transform 0.6s ease;
          }
          
          .nav__item-link:hover::before {
            transform-origin: bottom left;
            transform: scaleX(1);
          }
        }
      }
      
      .navbar-action {
        &-button {
          .action-btn {
            transition: 0.5s;
          }
          .action-btn.btn-secondary{
            margin-right: 8px;
          }
          .action-btn:hover {
            opacity: 0.7;
          }
          button + button {
            margin: 0 0 0 10px;
          }
        }

        &-content {
          display: flex;
          justify-content: space-between;
          align-items: center;

          i {
            cursor: pointer;
            color: var(--gray);
          }
          i:hover {
            color: var(--gray-more);
          }

          button {
            background: none;
            border: none;

            i {
              font-size: 26px;
            }
          }

          .action-item + .action-item {
            margin-left: 8px;
          }
          .account-section {
            position: relative;

            #btn-acc{
              cursor: pointer;
              border-radius: 50%;
              overflow: hidden;
              width: 30px;
              height: 30px;
              padding: 0 !important;
              
              img{
                object-fit: cover;
                width: 30px;
                height: 30px;
              }
            }
            .icon-account {
              background: linear-gradient(
                90deg,
                var(--color-primary) 0%,
                var(--color-secondary) 99.1%
              );
              @include text-gradient;
            }
            .content-container-acc {
              position: absolute;
              right: -9px;
              background: var(--dm-white);
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
              width: 180px;
              border-radius: $radius;
              margin: 20px 0;
              display: none; // dùng display để khi f12 k thấy
              // transition: 1s;

              .account-item {
                display: block;
                width: 100%;
                padding: 15px;
                font-size: $normal;
                color: var(--dm-black);
              }
              .account-item:hover {
                color: var(--color-primary);
              }
            }
            .content-container-acc::after {
              bottom: 100%;
              right: 15px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-bottom-color: var(--dm-white);
              border-width: 8px;
              margin-left: -8px;
            }
          }
        }
      }
    }
  }
}

.account-item--mode {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // -------------------------
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
  .theme-switch {
    display: inline-block;
  }

  .theme-switch input {
    display: none;
  }

  .slider {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 35px;
    height: 20px;
    background-color: #83d8ff;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    box-shadow: 0 0 3px 1px #ccc;
  }

  .slider:before {
    background-color: rgb(165, 20, 20);
    top: 1px;
    left: 1px;
    content: "";
    height: 18px;
    position: absolute;
    transition: 0.4s;
    width: 18px;

    display: inline-block;
    position: absolute;
    z-index: 1;
    background-color: #ffcf96;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }

  input:checked + .slider {
    background-color: #032657;
  }

  input:checked + .slider:before {
    transform: translateX(15px);
    background: #e2c899;
  }

  // nền
  .slider.round {
    border-radius: 34px;
  }
  // nút tròn
  .slider.round:before {
    border-radius: 50%;
  }
}
