.banner .row{
    margin: 80px $margin-popular;
}
.banner-text{
    display: flex;
    align-items: center;

    .slogan{
        font-size: $larger;
    }
    .slogan-sub{
        font-size: 20px;
        margin: 30px 0;
    }
    button{
        font-size: 24px;
        text-transform: uppercase;
        padding-left: 25px;
        padding-right: 25px;
        box-shadow: 0 10px 15px 0px var(--color-secondary);
        
    }
}
