.bgr-white {
  background: var(--color-white-2);
}

.quiz-lesson-container {
  margin: 0 $margin-popular;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 20px;

  .aside__question {
    background: var(--dm-white);
    padding: 30px;

    .course__name {
      a{
        color: var(--dm-color-primary);
      }
    }

    .lesson__title {
      font-size: 18px;
      color: var(--dm-black);
      font-weight: bold;
      margin: 20px 0 0;
    }

    .quiz__question {
      margin: 10px 0;
      color: var(--dm-black);
    }

    .quiz__img {
      text-align: center;
      margin: 5px 0;

      img {
        min-height: 100px;
        max-height: 150px;
      }
    }

    .subtitle {
      font-weight: bold;
      display: block;
      margin: 10px 0;
      color: var(--dm-black);
    }
    .quiz-hint__content{
      color: var(--dm-black);
    }

  }

  .quiz-container {
    margin: 20px auto;

    .index-quiz {
      text-align: center;

      .index__quiz {
        display: inline-block;
        border: 1.5px solid var(--color-thirty-30);
        border-radius: $radius;
        padding: 6px 10px;
        min-width: 32px;
        margin: 5px;
        transition: $trans-second;
        color: var(--dm-black);
      }
      .index__quiz--success{
        display: inline-block;
        border: 1.5px solid var(--color-thirty-30);
        border-radius: $radius;
        padding: 6px 6px;
        min-width: 32px;
        margin: 5px;
        transition: $trans-second;
      }
      .index__quiz:hover {
        background: var(--color-thirty-30);
      }

      .index__quiz--active {
        background: var(--color-thirty-30);
      }
    }

    .quiz-content {
      margin: auto;
      padding: 0px;

      .quiz-answer {
        .list-answer {
          background: var(--dm-white);
          border-radius: $radius-2;
          margin: 20px;
          padding: 50px;
          text-align: center;

          .grid {
            display: grid;
            grid-template-columns: 50px 1fr;

          }

          label {
            display: block;
          }

          .inputGroup {
            display: block;
            margin: 10px 0;
            position: relative;
            border-radius: 10px;
            background: var(--dm-grey);

            label {
              padding: 12px 10px;
              width: 100%;
              display: block;
              text-align: left;
              color: #3c454c;
              cursor: pointer;
              position: relative;
              z-index: 2;
              transition: color 200ms ease-in;
              overflow: hidden;
              border-radius: 10px;

              &:before {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                content: "";
                background-color: var(--color-secondary);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale3d(1, 1, 1);
                transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
                opacity: 0;
                z-index: -1;
              }

              .index-option {
                width: 30px;
                height: 30px;
                padding: 8px 10px;
                color: white;
                font-size: $small;
                font-weight: bold;
                background: var(--color-secondary);
                border-radius: 50%;
              }
            }

            input:checked {
              ~label {
                color: #fff;

                &:before {

                  transform: translate(-50%, -50%) scale3d(100, 56, 1);
                  opacity: 1;
                }

                .index-option {

                  color: var(--color-secondary);
                  background: white;
                }
              }

            }

            input {
              width: 32px;
              height: 32px;
              order: 1;
              z-index: 2;
              position: absolute;
              right: 30px;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              visibility: hidden;
            }
          }
        }

        .btn-submit {
          display: inline-block;
          margin: 10px 0 0 0;
          text-align: center;

          button {
            min-width: 150px;
          }
        }
      }
    }
  }
}