<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside class="play-list">
        <h3 class="course__title">
            REACT JS
        </h3>
        <div class="lesson-list">
            <div class="lesson-item">
                <div class="lesson-item-info">
                    <span class="lesson__index"></span>
                    <h4 class="lesson-item__title">
                        Bài 1: Xây dựng môi trường
                    </h4>
                    <span class="lesson__time">
                        10:10
                    </span>
                </div>
                <div class="lesson-item-test">
                    <a class="test_index">
                        1
                    </a>
                    <a class="test_index">
                        2
                    </a>
                    <a class="test_index">
                        3
                    </a>
                </div>
            </div>
            <div class="lesson-item">
                <div class="lesson-item-info">
                    <span class="lesson__index"></span>
                    <h4 class="lesson-item__title">
                        Bài 1: Xây dựng môi trường
                    </h4>
                    <span class="lesson__time">
                        10:10
                    </span>
                </div>
                <div class="lesson-item-test">
                    <a class="test_index">
                        1
                    </a>
                    <a class="test_index">
                        2
                    </a>
                    <a class="test_index">
                        3
                    </a>
                </div>
            </div>
            <div class="lesson-item">
                <div class="lesson-item-info">
                    <span class="lesson__index"></span>
                    <h4 class="lesson-item__title">
                        Bài 1: Xây dựng môi trường
                    </h4>
                    <span class="lesson__time">
                        10:10
                    </span>
                </div>
                <div class="lesson-item-test">
                    <a class="test_index">
                        1
                    </a>
                    <a class="test_index">
                        2
                    </a>
                    <a class="test_index">
                        3
                    </a>
                </div>
            </div>
        </div>
    </aside>
</body>
</html>