<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- reset -->
    <link rel="stylesheet" href="./../../../public/css/customerCss/reset.css">
    <!-- icon -->
    <link rel="stylesheet" href="./asset/fontawesome/css/all.css">
    <!-- css -->
    <link rel="stylesheet" href="./../../../public/css/customerCss/style.css">
</head>
<style>

</style>

<body>
    <div class="container">
        <div class="bill-section">
            <div class="container-fluid">
                <h3 class="bill-section__title">
                    Đơn mua của bạn
                </h3>
                <div class="bill-list">
                    <div class="bill-item tab">
                        <input type="checkbox" id="chck1">
                        <label class="tab-label" for="chck1">
                            <div class="bill-item-accordion">
                                <div class="bill-item-img">
                                    <img src="./../../../public/img/images/abc.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="bill-text">
                                    <h3><a href="" class="bill-item__title">HTML</a></h3>
                                    <div class="bill-item-price">
                                        <span class="bill-item__price bill-item__price--new">100.000 đ</span>
                                        <span class="bill-item__price bill-item__price--old">100.000 đ</span>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <div class="bill-detail tab-content">
                            <div class="bill-item-head">
                                <div class="head-course">
                                    <div class="head-img">
                                        <img src="./../../../public/img/images/abc.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="head-text">
                                        <h3><a href="" class="bill-item__title">HTML</a></h3>
                                        <div class="bill-item-price">
                                            <span class="bill-item__price bill-item__price--new">100.000 đ</span>
                                            <span class="bill-item__price bill-item__price--old">100.000 đ</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="head-time">
                                    <span class="title-date">Thời gian mua</span>
                                    <span class="time">10:30 1 - 1 - 2021</span>
                                    <span class="title-date">Thời gian mở khóa học</span>
                                    <span class="time">10:30 1 - 1 - 2021</span>
                                </div>

                            </div>
                            <div class="bill-item-body">
                                <div class="body-col">
                                    <div class="info-bill-item">
                                        <span class="info-bill__title">Tên tài khoản</span>
                                        <span class="info-bill__input">Nguyễn Anh</span>
                                    </div>
                                    <div class="info-bill-item">
                                        <span class="info-bill__title">Email</span>
                                        <span class="info-bill__input">Nguyễn Anh</span>
                                    </div>
                                    <div class="info-bill-item">
                                        <span class="info-bill__title">Số điện thoại</span>
                                        <span class="info-bill__input">Nguyễn Anh</span>
                                    </div>
                                    <div class="info-bill-item">
                                        <span class="info-bill__title">Tài khoản</span>
                                        <span class="info-bill__input">Nguyễn Anh</span>
                                    </div>
                                </div>
                                <div class="body-col">
                                    <span class="bill-note__title">Ghi chú</span>
                                    <p class="bill-note__content">
                                        Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>