<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../../public/css/customerCss/reset.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="./../../../public/css/customerCss/style.css">

</head>

<body>
    <div class="container bgr-img">
        <div class="container-fluid">
            <div class="contact-section">
                <div class="contact-text">
                    <div class="contact-text-head">
                        <h2 class="contact__title">
                            Liên hệ
                        </h2>
                        <p class="contact__subtitle">
                            Hãy nói cho chúng tôi biết những thắc mắc của bạn
                        </p>
                    </div>
                    <div class="contact-text-body">
                        <div class="text-body-item">
                            <i class="fas fa-envelope"></i>
                            <span class="item__text">courses@gmail.com</span>
                        </div>
                        <div class="text-body-item">
                            <i class="fas fa-phone-alt"></i>
                            <span class="item__text">+84 12345689</span>
                        </div>
                        <div class="text-body-item">
                            <i class="fas fa-map-marked-alt"></i>
                            <span class="item__text">Hà Nội, Việt Nam</span>
                        </div>
                    </div>
                </div>
                <div class="contact-form">
                    <form action="" class="contact__form">
                        <label class="form__title" for="">Họ tên</label>
                        <input type="text" class="form__input">
                        <label class="form__title" for="">Email</label>
                        <input type="email" class="form__input">
                        <label class="form__title" for="">Nội dung</label>
                        <textarea class="form__input" name="" id="" cols="30" rows="10"></textarea>
                        <div class="btn-right">
                            <button type="submit" class="btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>