<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- reset -->
    <link rel="stylesheet" href="./../../../public/css/customerCss/reset.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="./../../../public/css/customerCss/style.css">
</head>

<body>
    <div class="container">
        <main class="bgr-light">
            <div class="container-fluid">
                <div class="course-detail">
                    <div class="course-detail-text">
                        <div class="detail-name">
                            <h1 class="course__name">
                                Node & ExpressJS
                            </h1>
                            <p class="course__description">
                                Học Back-end với Node & ExpressJS framework, hiểu các khái niệm khi làm Back-end và xây
                                dựng
                                RESTful API cho trang web.
                            </p>
                        </div>
                        <div class="detail-content">
                            <h2 class="content__title">
                                Nội dung khóa học
                            </h2>
                            <div class="lesson-list">
                                <div class="lesson-item-info">
                                    <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                                    <h4 class="lesson-item__title">
                                        Bài 1: Xây dựng môi trường
                                    </h4>
                                    <span class="lesson__time">
                                        10:10
                                    </span>
                                </div>
                                <div class="lesson-item-info">
                                    <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                                    <h4 class="lesson-item__title">
                                        Bài 1: Xây dựng môi trường
                                    </h4>
                                    <span class="lesson__time">
                                        10:10
                                    </span>
                                </div>
                                <div class="lesson-item-info">
                                    <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                                    <h4 class="lesson-item__title">
                                        Bài 1: Xây dựng môi trường
                                    </h4>
                                    <span class="lesson__time">
                                        10:10
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-detail-video">
                        <img src="./../../../public/img/images/abc.jpg" alt="" class="img-fluid course__img">
                        <button class="btn-primary">
                            Đăng kí học
                        </button>
                        <span class="sub-des">10 bài</span>
                        <span class="sub-des">Học mọi lúc, mọi nơi</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>