<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- reset -->
    <link rel="stylesheet" href="./asset/css/reset.css">
    <!-- icon -->
    <link rel="stylesheet" href="./asset/fontawesome/css/all.css">
    <!-- css -->
    <link rel="stylesheet" href="./asset/css/style.css">
</head>

<body>
    <div class="container">
        <div class="container-fluid">
            <div class="search-section">
                <div class="form-container">
                    <div class="form-content">
                        <h2>HÔM NAY BẠN MUỐN HỌC GÌ?</h2>
                        <form action="">
                            <input class="input-search" type="text">
                            <button class="submit-search" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <span class="oval oval-1"></span>
                        <span class="oval oval-2"></span>
                        <span class="oval oval-3"></span>
                    </div>
                </div>
                <img src="./asset/images/education-student.gif" alt="" class="search__img img-fluid">
            </div>
        </div>

        <main class="bgr-light">
            <div class="container-fluid">
                <div class="courses-section">
                    <aside class="category">
                        <!-- <div class="filter"> -->
                        <!-- <h4 class="filter__title">Bộ lọc</h4> -->
                        <div class="filter-list">
                            <form action="" class="select">
                                <select name="" id="">
                                    <option value="">Tất cả</option>
                                    <option value="">Miễn phí</option>
                                    <option value="">Trả phí</option>
                                </select>
                            </form>
                        </div>
                        <!-- </div> -->
                        <ul class="courses-cate-list">
                            <li class="course-cate__item">
                                <a href="">
                                    <i class="icon__cate fas fa-laptop-code"></i>
                                    Frontend
                                </a>
                            </li>
                            <li class="course-cate__item">
                                <a href="">
                                    <i class="icon__cate fas fa-database"></i>
                                    Backend
                                </a>
                            </li>
                            <li class="course-cate__item">
                                <a href="">
                                    <i class="icon__cate fas fa-robot"></i>
                                    AI
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <div class="course-list">
                        <div class="course-item">
                            <div class="course-poster">
                                <img src="./asset/images/abc.jpg" class=" img-fluid"></img>
                            </div>
                            <div class="course-text">
                                <h3 class="course__title">HTML</h3>
                                <span class="course__members">
                                    <i class="fas fa-users"></i>
                                    123
                                </span>
                                <span class="course__price course__price--free">Miễn phí</span>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="course-poster">
                                <img src="./asset/images/abc.jpg" class=" img-fluid"></img>
                            </div>
                            <div class="course-text">
                                <h3 class="course__title">HTML</h3>
                                <span class="course__members">
                                    <i class="fas fa-users"></i>
                                    123
                                </span>
                                <span class="course__price course__price--free">Miễn phí</span>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="course-poster">
                                <img src="./asset/images/abc.jpg" class=" img-fluid"></img>
                            </div>
                            <div class="course-text">
                                <h3 class="course__title">HTML</h3>
                                <span class="course__members">
                                    <i class="fas fa-users"></i>
                                    123
                                </span>
                                <span class="course__price course__price--cost">590.000 đ</span>
                                <span class="course__price course__price--old">690.000 đ</span>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="course-poster">
                                <img src="./asset/images/abc.jpg" class=" img-fluid"></img>
                            </div>
                            <div class="course-text">
                                <h3 class="course__title">HTML</h3>
                                <span class="course__members">
                                    <i class="fas fa-users"></i>
                                    123
                                </span>
                                <span class="course__price course__price--cost">590.000 đ</span>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="course-poster">
                                <img src="./asset/images/abc.jpg" class=" img-fluid"></img>
                            </div>
                            <div class="course-text">
                                <h3 class="course__title">HTML</h3>
                                <span class="course__members">
                                    <i class="fas fa-users"></i>
                                    123
                                </span>
                                <span class="course__price course__price--cost">590.000 đ</span>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="course-poster">
                                <img src="./asset/images/abc.jpg" class=" img-fluid"></img>
                            </div>
                            <div class="course-text">
                                <h3 class="course__title">HTML</h3>
                                <span class="course__members">
                                    <i class="fas fa-users"></i>
                                    123
                                </span>
                                <span class="course__price course__price--cost">590.000 đ</span>
                            </div>
                        </div>
                        <div class="course-item">
                            <div class="course-poster">
                                <img src="./asset/images/abc.jpg" class=" img-fluid"></img>
                            </div>
                            <div class="course-text">
                                <h3 class="course__title">HTML</h3>
                                <span class="course__members">
                                    <i class="fas fa-users"></i>
                                    123
                                </span>
                                <span class="course__price course__price--cost">590.000 đ</span>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>

</body>

</html>