<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../../public/css/customerCss/reset.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="./../../../public/css/customerCss/style.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:ital,wght@0,200;0,500;0,700;1,400;1,500&display=swap"
        rel="stylesheet">

</head>

<body>

    <div style="margin-top:150px" class="container bgr-white">
        <div class="container-fluid ">
            <div class="quiz-lesson-container">
                <aside class="aside__question">
                    <h3 class="course__name">
                        Javascript nâng cao
                    </h3>
                    <h4 class="lesson__title">Bài 1: Xây dựng môi trường</h4>
                    <h5 class="quiz__question">
                        <span class="subtitle">Bài tập</span>
                        Đáp án nào sau đây có thể sử dụng để đặt tên biến trong Javascript mà không có lỗi?
                    </h5>
                    <div class="quiz__img">
                        <img class="img-fluid" src="https://picsum.photos/300/200" alt="">
                    </div>
                    <div class="quiz-hint">
                        <h5 class="subtitle quiz-hint__title">Gợi ý</h5>
                        Chọn 1 đáp án || Abcabc abc abc abc abcabc
                    </div>
                </aside>
                <div class="quiz-container">
                    <div class="index-quiz">
                        <a href="" class="index__quiz">1</a>
                        <a href="" class="index__quiz">2</a>
                        <a href="" class="index__quiz">3</a>
                    </div>
                    <div class="quiz-content">
                        <form action="" class="quiz-answer">
                            <!-- <div class="list-answer">
                                <div class="inputGroup">
                                    <input id="option1" name="option1" type="checkbox" />
                                    <label class="" for="option1">
                                        <div class="grid">
                                            <span class="index-option">A</span>
                                            <p>
                                                Option One Option OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Option One Option OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Option One Option OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Option One Option OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Option One Option OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Option One Option OneOption One OeOption OneOption
                                            </p>
                                        </div>
                                    </label>
                                </div>
                                <div class="inputGroup">
                                    <input id="option2" name="option2" type="checkbox" />
                                    <label class="" for="option2">
                                        <div class="grid">
                                            <span class="index-option">B</span>
                                            <p>
                                                Option One Option OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Op  One Option One Option OneOption One OeOption OneOption Option One Option OneOption One OeOption OneOption
                                            </p>
                                        </div>
                                    </label>
                                </div>
                                <div class="inputGroup">
                                    <input id="option3" name="option3" type="checkbox" />
                                    <label class="" for="option3">
                                        <div class="grid">
                                            <span class="index-option">C</span>
                                            <p>
                                                Option One Option OneOption One OeO </p>
                                        </div>
                                    </label>
                                </div>
                                <div class="inputGroup">
                                    <input id="option4" name="option4" type="checkbox" />
                                    <label class="" for="option4">
                                        <div class="grid">
                                            <span class="index-option">D</span>
                                            <p>
                                                Option One Option tion OneOption One OeOption OneOption Option One Option OneOption One OeOption OneOption
                                            </p>
                                        </div>
                                    </label>
                                </div>
                            </div> -->
                            <div class="list-answer">
                                <div class="inputGroup">
                                    <input id="option1" name="abc" type="radio" />
                                    <label class="" for="option1">
                                        <div class="grid">
                                            <span class="index-option">A</span>
                                            <p>
                                                Option One Option OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Option One Option
                                                OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Option One Option
                                                OneOption One OeOption OneOption
                                            </p>
                                        </div>
                                    </label>
                                </div>
                                <div class="inputGroup">
                                    <input id="option2" name="abc" type="radio" />
                                    <label class="" for="option2">
                                        <div class="grid">
                                            <span class="index-option">B</span>
                                            <p>
                                                Option One Option OneOption One OeOption OneOption
                                                One Option One Option OneOption One OeOption OneOption Op One Option One
                                                Option OneOption One OeOption OneOption Option One Option OneOption One
                                                OeOption OneOption
                                            </p>
                                        </div>
                                    </label>
                                </div>
                                <div class="inputGroup">
                                    <input id="option3" name="abc" type="radio" />
                                    <label class="" for="option3">
                                        <div class="grid">
                                            <span class="index-option">C</span>
                                            <p>
                                                Option One Option OneOption One OeO </p>
                                        </div>
                                    </label>
                                </div>
                                <div class="inputGroup">
                                    <input id="option4" name="abc" type="radio" />
                                    <label class="" for="option4">
                                        <div class="grid">
                                            <span class="index-option">D</span>
                                            <p>
                                                Option One Option tion OneOption One OeOption OneOption Option One
                                                Option OneOption One OeOption OneOption
                                            </p>
                                        </div>
                                    </label>
                                </div>
                                <div class="btn-submit">
                                    <button type="submit" class="btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>