<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- reset -->
    <link rel="stylesheet" href="./../../../public/css/customerCss/reset.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="./../../../public/css/customerCss/style.css">
    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
    <div class="container bgr-white">
        <div class="container-fluid ">
            <div class="quiz-lesson-container">
                <div class="quiz-container">
                    <h5 class="quiz__question">
                        Đáp án nào sau đây có thể sử dụng để đặt tên biến trong Javascript mà không có lỗi?
                    </h5>
                    <div class="quiz__img">
                        <img class="img-fluid" src="./asset/images/abc.jpg" alt="">
                    </div>
                    <div class="quiz-content">
                        <form action="" class="quiz-answer">
                            <div class="inputGroup">
                                <input id="option1" name="option1" type="checkbox" />
                                <label class="" for="option1">
                                    <div class="grid">
                                        <span class="index-option">A</span>
                                        <p>
                                            Option One Option OneOption One OeOption OneOption
                                            One Option One Option OneOption One OeOption OneOption Option One Option
                                            OneOption One OeOption OneOption
                                            One Option One Option OneOption One OeOption OneOption Option One Option
                                            OneOption One OeOption OneOption
                                            One Option One Option OneOption One OeOption OneOption Option One Option
                                            OneOption One OeOption OneOption
                                            One Option One Option OneOption One OeOption OneOption Option One Option
                                            OneOption One OeOption OneOption
                                            One Option One Option OneOption One OeOption OneOption Option One Option
                                            OneOption One OeOption OneOption
                                        </p>
                                    </div>
                                </label>
                            </div>
                            <div class="inputGroup">
                                <input id="option2" name="option2" type="checkbox" />
                                <label class="" for="option2">
                                    <div class="grid">
                                        <span class="index-option">B</span>
                                        <p>
                                            Option One Option OneOption One OeOption OneOption
                                            One Option One Option OneOption One OeOption OneOption Op One Option One
                                            Option OneOption One OeOption OneOption Option One Option OneOption One
                                            OeOption OneOption
                                        </p>
                                    </div>
                                </label>
                            </div>
                            <div class="inputGroup">
                                <input id="option3" name="option3" type="checkbox" />
                                <label class="" for="option3">
                                    <div class="grid">
                                        <span class="index-option">C</span>
                                        <p>
                                            Option One Option OneOption One OeO </p>
                                    </div>
                                </label>
                            </div>
                            <div class="inputGroup">
                                <input id="option4" name="option4" type="checkbox" />
                                <label class="" for="option4">
                                    <div class="grid">
                                        <span class="index-option">D</span>
                                        <p>
                                            Option One Option tion OneOption One OeOption OneOption Option One Option
                                            OneOption One OeOption OneOption
                                        </p>
                                    </div>
                                </label>
                            </div>
                    </div> -->
                    <div class="list-answer">
                        <div class="inputGroup">
                            <input id="option1" name="abc" type="radio" />
                            <label class="" for="option1">
                                <div class="grid">
                                    <span class="index-option">A</span>
                                    <p>
                                        Option One Option OneOption One OeOption OneOption
                                        One Option One Option OneOption One OeOption OneOption Option One Option
                                        OneOption One OeOption OneOption
                                        One Option One Option OneOption One OeOption OneOption Option One Option
                                        OneOption One OeOption OneOption
                                        One Option One Option OneOption One OeOption OneOption Option One Option
                                        OneOption One OeOption OneOption
                                        One Option One Option OneOption One OeOption OneOption Option One Option
                                        OneOption One OeOption OneOption
                                        One Option One Option OneOption One OeOption OneOption Option One Option
                                        OneOption One OeOption OneOption
                                    </p>
                                </div>
                            </label>
                        </div>
                        <div class="inputGroup">
                            <input id="option2" name="abc" type="radio" />
                            <label class="" for="option2">
                                <div class="grid">
                                    <span class="index-option">B</span>
                                    <p>
                                        Option One Option OneOption One OeOption OneOption
                                        One Option One Option OneOption One OeOption OneOption Op One Option One
                                        Option OneOption One OeOption OneOption Option One Option OneOption One
                                        OeOption OneOption
                                    </p>
                                </div>
                            </label>
                        </div>
                        <div class="inputGroup">
                            <input id="option3" name="abc" type="radio" />
                            <label class="" for="option3">
                                <div class="grid">
                                    <span class="index-option">C</span>
                                    <p>
                                        Option One Option OneOption One OeO </p>
                                </div>
                            </label>
                        </div>
                        <div class="inputGroup">
                            <input id="option4" name="abc" type="radio" />
                            <label class="" for="option4">
                                <div class="grid">
                                    <span class="index-option">D</span>
                                    <p>
                                        Option One Option tion OneOption One OeOption OneOption Option One
                                        Option OneOption One OeOption OneOption
                                    </p>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="btn-submit">
                        <button type="submit" class="btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
            </div>

            <aside class="play-list">
                <h3 class="course__title">
                    REACT JS
                </h3>

                <div class="lesson-list">
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                    <div class="lesson-item">
                        <a href="" class="lesson-item-info">
                            <span class="lesson__index"><i class="fas fa-play-circle"></i></span>
                            <h4 class="lesson-item__title">
                                Bài 1: Xây dựng môi trường
                            </h4>
                            <span class="lesson__time">
                                10:10
                            </span>
                        </a>
                        <div class="lesson-item-test">
                            <a href="" class="test_index">
                                1
                            </a>
                            <a href="" class="test_index">
                                2
                            </a>
                            <a href="" class="test_index">
                                3
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    </div>
</body>

</html>